.boomrev-tool-container1{

	position: absolute;
	height: 175px;
	width: 350px;
	top: 0px;
	right: 10px;
	float: none;

	box-shadow: -5px 5px 12px #888888;
	text-align: center;
	font-family: sans-serif;
	background: rgba(234, 234, 234, 0.9);

	border-radius: 0px 0px 3px 3px;
	padding: 2px;
	border: 2px solid white;
	
	z-index: 99999;
}

.boomrev-jaga-de{
	margin: 5px 0;
	float: none;
}

.btn1-m{
	display: inline-block ; 
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;	
}

.btn1-xs{
	display: inline-block ; 
	padding: 1px 5px;
	margin-bottom: 0;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 3px;	
}

.btn1-success{
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn1-info{
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;	
}

.btn1-warning{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;	
}

.badge1{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 100;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;	
}

.showStatus1{
	font-size: 15px;
  	font-family: sans-serif;
	margin-top: 10px;
	float: none;
	text-align: center;
}